
.root {
  // background-color: red;
}

.root-home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.root-searching {
  padding: 20px;
}

.searchbar {
  // background-color: blue;
  display: flex;
  margin-bottom: 15px
}

.searchbar-home {
  min-width: 600px;
  flex-direction: column;
}

.searchbar-searching {
  max-width: 700px;
  align-items: center;
}

.searchbar-logo {
  display: flex;
  justify-content: center;
}

.searchbar-field {
  flex: 1
}

.searchbar-padding-home {
  height: 25px;
}

.searchbar-padding-searching {
  width: 18px;
}

.hr {
  border-top: 1px solid lightgray;
}

.results {
  // background-color: green;
}

.loading {
  // background-color: yellow;
}

/*
// For Material UI
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none !important;
}
*/
